body {
	background-color: black;
	font-family: 'Architects Daughter', cursive;
}

.main {
	position: relative;
	background-color: white;
  	margin-top: 110px;
  	padding-left: 100px;
  	min-width: 1200px;
  	height: 500px;
}

.ryu-still {
	/*display: none;*/
}

.ryu-ready, .ryu-still, .ryu-throwing, .ryu-cool {
  width: 659px;
  height: 494px;
  float: left;
}

.ryu-ready, .ryu-throwing, .ryu-cool {
  display: none;
} 

.ryu-ready {
  background-image: url('../images/ryu-ready-position.gif');
  /*display: none;*/
}

.ryu-still {
  background-image: url('../images/ryu-standing-still.png');
}

.ryu-throwing {
  background-image: url('../images/ryu-throwing-hadouken.png');
}

.ryu-cool {
	background-image: url('../images/ryu-cool.gif');
}

.hadouken, .ryu-ready, .ryu-still, .ryu-throwing {
  background-repeat: no-repeat;
}

.hadouken {
	position: relative;
	background-image: url('../images/hadouken.gif');
  	width: 156px; 
  	height: 90px;
  	float: left;
  	top: 170px;
  	left: -170px;
  	display: none;
}

.instructions {
	position: absolute;
	top: 7rem;
	left: 40rem;
	width: 45rem;
	font-size: 28px;
	font-weight: bold;
	line-height: 1.75;
	text-transform: uppercase;
}

#throw {
	width: 25rem;
}

#pose {
	width: 25rem;
	float: right;
	margin-top: 2rem;
}